$max-width: 1200px;
$header-height: 4rem;

$border-color: #CCC;
$text-color: #53575A;
$dark-color: #141618;

$breakpoints: (
    l: 960px
);

// paleta de colores

:root {
    --first-color: #007BDF;
}